#tabla
{
    width: 94.5%;
    margin-left: 1rem;
    height: 30rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.938rem;
    width: 85vw;
}

#capa
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#formularios
{
    position: relative;
    z-index: 5;
    display: flex;
    align-items: start;
    justify-content: center;
    bottom: 35rem;
}
#arriba
{
    display: flex;
    align-items: center;
}

#arriba button
{

    width: 10.625rem;
    margin-left:1.563rem;
    height: 1.75rem;
    position: relative;
    background-color: transparent;
    border-radius: 0.313rem;
    border-color: #B0CAD1;
    border-style: solid;
    border-width:0.063rem;
    font-family: poppins;
}

#abajo
{
    height: 20rem;
    overflow: scroll;
}


@media(max-width: 767px )
{

    #cuerpo
    {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #tabla
    {
        width: min-content;
        
    }
}