#cuerpo
{
    width: 14rem;
    height: 5.875rem;
    background-color: #fff;
    display: flex;
    font-size: 0.75rem;
    line-height: 18px;
    margin: 1rem;
    border-radius: 0.938rem;
    padding: 1rem;
  
  
    
 
}


#iconos
{
    display: flex;
    margin-left: 3rem;
    
}
.icono
{
    position: relative;
    left: 1rem;
    bottom: 1rem;
 
}
#indi
{
    display: flex;
    margin: 0.5rem;
    
}
#cuerpo h1
{
    font-size: 0.75rem;
     font-weight: 400;
     color: gray;
}
#cuerpo h2
{
    margin: 0;
    font-weight: 700;
    font-size: 1.25rem;
}
#texto
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 7.563rem;
    
    
}